.box{
    width: 900px;
    height: 650px;
    background-color: rgba(107, 42, 124, 0.2);
    position:fixed;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 40px;
    padding-left: 80px;
    text-align: justify;
    font-family:monospace;

    

}
*{
    font-size: 23px;
    padding-top: 30px;
    padding-bottom: 30px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
h1{
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
}

.box input{
    display:block;
    width: 92%;
    padding: .4rem .rem .5rem .8rem;
    margin: .5vw ;
    border:0;
    border-radius:5px;
    

}


.uploadbtn{
    display: inline-block;
    width: 30%;
    position: absolute;
    font-size: 24px;
    height: 2rem;
   color: rgb(0, 0, 0);
   background-color: rgb(146, 98, 142);
}
.uploadbtn:hover{
    background-color: rgb(49, 33, 65);
    color: aliceblue;
    transition: 0.6s background ease;
}

